@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dark Elves</h1>
    <p class="lead"> The most common of the elves are the Dark Elves of Svartalfehim and the light Elves of Alfheim.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>To do...</h2>
        <p>
            Build, and deploy source code files to GitHub.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>To do...</h2>
        <p> Build IAAS Azure virtual machines and deploy Octopus server to provide CI/CD environment. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>To do...</h2>
        <p> Build IIS webservers and deploy a wepapp with virtual directories. Connect to published website via internal network, and externally. Ensure that Network Solutions domain name record points to azure website. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>